@page "/"
@using VisaApiClient
@using BlazorWebAssemblyVisaApiClient.Components.FormComponents.Applicants

<PageTitle>Authentication</PageTitle>

<div class="with-centered-content">
    <EditForm class="form" Model="loginData" OnValidSubmit="TryLogin">
        <DataAnnotationsValidator/>

        <AuthDataInput AuthData="loginData"/><br/>

        <input class="btn-outline-primary rounded" type="submit" value="Login"/>
        or
        <NavLink href="register">Register</NavLink >
        <p>@loginResult</p>
    </EditForm>
</div>

@code
{
    private AuthData loginData = new();
    private string loginResult = string.Empty;

    [Inject] private Client Client { get; set; } = null!;

    private async Task TryLogin()
    {
        loginResult = "Wait...";
        StateHasChanged();
        try
        {
            var token = await Client.LoginAsync(loginData.Email, loginData.Password);
            Client.SetAuthToken(token);
            loginResult = "Logged in successfully.";
        }
        catch (ApiException<ProblemDetails> e)
        {
            loginResult = e.Result.Detail!;
        }
    }
}
