@page "/login"
@using VisaApiClient

<PageTitle>Authentication</PageTitle>

<EditForm Model="loginData" OnValidSubmit="TryLogin">
    <DataAnnotationsValidator/>
    <label >Email: <InputText @bind-Value="loginData.Email"/></label>
    <label >Password: <InputText @bind-Value="loginData.Password"/></label>
    <input type="submit" value="Login"/>
</EditForm>
<p>@loginResult</p>

@code
{
    private AuthData loginData = new();
    private string loginResult = string.Empty;

    [Inject]
    private Client Client { get; set; } = null!;

    private async Task TryLogin(EditContext obj)
    {
        try
        {
            var token = await Client.LoginAsync(loginData.Email, loginData.Password);
            Client.SetAuthToken(token);
            loginResult = "Logged in successfully";
        }
        catch (ApiException<ProblemDetails> e)
        {
            loginResult = e.Result.Detail!;
        }
    }
}
